@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Gloria+Hallelujah');

.App {
  text-align: center;
  background-image: url('https://cafart.r.worldssl.net/images/Category_12502/subcat_39178/SmurfDayAdj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -25px;
  font-family: 'Baloo Chettan', cursive;
}

nav {
  padding: 10px 0;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.9;
}

nav p {
  margin: 0 20px;
  color: #88CCFF;
  text-shadow: 1px 1px #000
}

button {
  background: #88CCFF;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid rgb(45, 163, 253);
  margin: 0 10px;
  color: white;
  font-family: 'Baloo Chettan', cursive;
}

button:hover {
  background-color: rgb(45, 163, 253);
  cursor: pointer;
}

.smurf-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.smurf-card {
  margin: 20px 10px;
  background-color: white;
  opacity: 0.9;
  width: 20%;
  padding: 20px 0;
  border-radius: 50%;
}

